header {
    position: relative; /* Permite que el texto se superponga */
    min-height: 50px; /* Altura mínima del encabezado aumentada */
    color: #fff;
    text-align: center; /* Centrar el texto */
    overflow: hidden; /* Oculta el desbordamiento */

        background: linear-gradient(to right, rgba(51, 83, 211, 0.5), rgba(255, 165, 0, 0.5), rgba(12, 108, 79, 0.5));
    
}

/* Menú de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* Asegura que la navegación esté en la parte superior */
    z-index: 10;
    /* Asegura que la navegación esté por encima del carrusel */
}

.logo {
    width: 40px;
    /* Tamaño adecuado */
    height: 40vpx;
    margin-left: 250px;
    /* Espacio entre la imagen y el texto */

    border-radius: 50%;
    /* Opcional: si quieres que la imagen sea redonda */

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-izquierda {

    background-color: #333;
    width: 100%;
    /* Ocupará todo el ancho de la pantalla */
    height: 60px;
    /* Ajusta la altura según necesites */
    position: fixed;
    /* Fija el menú en la parte superior */
    top: 0px;
    /* Se pega arriba */
    left: 0;
    /* Se alinea al borde izquierdo */
    position: fixed;

}

.menu-izquierda li {
    margin-right: 60px;
    margin-top: 20px;
    transition: all 0.3s ease;

}

.menu-izquierda li:hover {

    transform: scale(1.1);


}

.menu-derecha li {
    margin-left: 20px;

}




a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    /* Espaciado alrededor del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Transiciones suaves */
    font-size: 14px;

}

a:hover {
    background-color: rgba(255, 215, 0, 0.7);
    /* Fondo dorado al pasar el mouse */
    box-shadow: 0 0 15px rgba(255, 215, 0, 1);
    /* Sombra luminosa */

}

h1 {
    color: hsl(0, 0%, 3%); /* Título en dorado */
    text-align: center; /* Centrado */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

table {
            width: 50%;
            border-collapse: collapse;
            
            position: relative;
            text-align: center;
            margin: 0 auto; /* Esto la centra horizontalmente */
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
        
        table th, table td {
            padding: 12px;
            text-align: center;
            
            
        }
        table td{
            border : 1px solid #241f1e;
        }

        
        
        table th {
            background-color: #343a40;
            color: #fff;
        }
        
        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        table tr:hover {
            background-color: #e9ecef;
        }




.card {
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centramos el formulario */
    padding: 1.5rem; /* Espaciado interno */
    background-color: rgba(42, 43, 56, 0.8); /* Fondo oscuro con opacidad */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}





.menu-izquierda a {
    font-family: 'Times New Roman', serif; /* Cambiar la fuente */
    text-transform: uppercase; /* Poner en mayúsculas */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave para el color */
}

.menu-izquierda a:hover {
    color: rgba(255, 215, 0, 0.7); /* Color al pasar el mouse */
}

.menu-derecha a {
    font-family: 'Times New Roman', serif; /* Cambiar la fuente */
}