/* Estilo General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #241f1e;
    color: white;
    padding: 20px 100px 20px 80px;
    text-align: center;
    width: 100%;
    height: 80px;

}

header h1 {
    margin: 0;
}


.main-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.menu-container {
    width: 200px;
    top:-46px;
    /* Cambiá este valor si querés más ancho */
    background-color: #343a40;
    height:600px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    /* Impide que el menú se encoja */
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #444;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.tabla-container {
    background-color: #f2f1f1;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;

    margin: 0 auto;
    border-radius: 0px;
    color: #060606;

}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    
}


table th,
table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #050505;
}

table th {
    background-color: #343a40;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef;
}

.btn {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-danger:active {
    background-color: #bd2130;
}

/* Botón para mostrar/ocultar menú */
#toggle-menu {
    position: relative;
    top: -80px;
    left: 20px;
    z-index: 1000;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para ocultar el menú */
/* Estilo para ocultar el menú */
.menu-container.hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease; /* Añadir transición para que el deslizamiento sea suave */
}

#titulo-primero {

            text-align: center;
            color: rgb(255, 253, 253);
            text-transform: uppercase;
            position: relative;
            top: 20px;
            
        }