/* Estilo General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #241f1e;
    color: white;
    padding: 20px 100px 20px 80px;
    text-align: center;
    width: 100%;
    height: 90px
}

header h1 {
    margin: 0;
}

/* Contenedor principal */
.main-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    height: calc(100vh - 70px); /* Descontamos la altura del header */
}

.menu-container {
    width: 200px;
    background-color: #343a40;
    height: 100vh;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    position: relative;
    top: 0px;
    left: -20px;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #444;
}

/* Contenido principal */
.content {
    flex-grow: 1;
    padding: 20px;
}

/* Estilo de las tarjetas para las mesas */
.tabla-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #d4a373;  /* Marrón claro */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 250px;  /* Tamaño más pequeño */
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    color: #fff;
}

.card:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse sobre la tarjeta */
}

.card h2 {
    font-size: 22px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #fff;
    margin: 5px 0;
}

.card .price {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.card .availability {
    margin-top: 10px;
    font-size: 16px;
    color: #ffdc00; /* Color amarillo para la disponibilidad */
}

.card .actions {
    margin-top: 15px;
}

.card .btn {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card .btn-danger {
    background-color: #dc3545;
    color: white;
}

.card .btn-danger:hover {
    background-color: #c82333;
}

.card .btn-danger:active {
    background-color: #bd2130;
}

/* Botón para mostrar/ocultar menú */
#toggle-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-container.hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
