
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #FFFFFF;
            color: #000000;
            display: flex;    
            flex-direction: column;
            height: 100vh;
        }
        header {
            background-color: #241f1e;
            color: white;
            padding: 20px;
            text-align: center;
            width: 100%;
        }
        .main-container {
            display: flex;
            flex-grow: 1;
        }
        .menu-container {
            background-color: #333;
            padding: 20px;
            width: 250px;
            overflow-y: auto;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            margin: 10px 0;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            display: block;
            padding: 10px;
            border-radius: 4px;
            transition: background-color 0.3s;
        }
        nav ul li a:hover {
            background-color: #444;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
            margin-left: 50px;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: rgb(255, 253, 253);
        }
        h2{

            text-align: center;
            color: rgb(8, 8, 8);

        }

        
        table {
            width: 50%;
            border-collapse: collapse;
            
            position: relative;
        }
        
        table th, table td {
            padding: 12px;
            text-align: center;
            border: 1px solid #ddd;
        }
        
        table th {
            background-color: #343a40;
            color: #fff;
        }
        
        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        table tr:hover {
            background-color: #e9ecef;
        }
        #formBuscarUsuario {
            display: none;
            margin-top: 20px;
            background-color: #444;
            padding: 15px;
            border-radius: 5px;
        }
        #formBuscarUsuario input {
            padding: 10px;
            width: 80%;
            margin-right: 10px;
        }
        #formBuscarUsuario button {
            padding: 10px;
        }
    