
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            height: 100vh; /* Altura completa de la ventana */
            background-color: #f0f0f0; /* Color de fondo */
            flex-direction: column; /* Para que el header esté arriba */
        }
        header {
            background-color: #241f1e; /* Fondo negro */
            color: white;
            padding: 20px;
            text-align: center;
            width: 100%; /* Asegura que el header ocupe todo el ancho */
        }
        .main-container {
            display: flex; /* Para que el menú esté a la izquierda */
            flex-grow: 1; /* Permite que esta sección ocupe el resto del espacio */
        }
        .menu-container {
            background-color: #333;
            padding: 20px;
            border-radius: 0px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
            width: 250px; /* Ancho del contenedor */
            margin: 0; /* Sin márgenes */
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0; /* Eliminar márgenes */
        }
        nav ul li {
            margin: 10px 0; /* Espaciado entre elementos */
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            display: block; /* Hacer que el enlace ocupe todo el ancho */
            padding: 10px; /* Espaciado interno */
            border-radius: 4px; /* Bordes redondeados en los enlaces */
            transition: background-color 0.3s; /* Transición suave para el hover */
        }
        nav ul li a:hover {
            background-color: #444; /* Color de fondo al pasar el ratón */
        }
        .content {
            flex-grow: 1; /* Permite que el contenido ocupe el resto del espacio */
            padding: 20px; /* Espaciado interno del contenido */
        }
    