body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    /* Altura completa de la ventana */
    background-color: #f0f0f0;
    /* Color de fondo */
    flex-direction: column;
    /* Para que el header esté arriba */
}

header {
    background-color: #241f1e;
    /* Fondo negro */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    /* Asegura que el header ocupe todo el ancho */
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
    position: relative;
    top: -60px;
}

.menu-item {
    display: block;
    /* necesario para que el <a> se comporte como un bloque */
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    text-decoration: none;
    /* quita el subrayado del enlace */
    color: inherit;
    /* hereda el color del texto */
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-icon {
    font-size: 60px;
    color: #007BFF;
    margin-bottom: 15px;
}

.menu-text {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    flex-grow: 1;
    /* Permite que el contenido ocupe el resto del espacio */
    padding: 20px;
    /* Espaciado interno del contenido */
}