<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Pedidos</title>
    <!-- Agregar Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/detalle-pedido.css">
</head>
<body>

    <header>
        <nav>



            <ul class="menu-izquierda">
                <li><a href="/perfil"><i class="fas fa-user"></i> Mi Perfil</a></li>
                <li><a href="/restaurante"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="#seccion-menu"><i class="fas fa-utensils"></i> Menú</a></li>
                <li><a href="/reservas"><i class="fas fa-calendar-check"></i> Reservas</a></li>
                <li><a href="/carrito/lista"><i class="fas fa-shopping-cart"></i> Carro de Compras </a></li>
    
                <li><a href="/carrito/listaDetallePedido"><i class="fas fa-user"></i>Historial de compras</a></li>
    
            </ul>
    
            
    
    
        </nav>
    </header>

    <div class="container mt-5">
        <h1 class="mb-4">Detalles del pedido</h1>

        <!-- Tabla con los detalles del pedido -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Fecha y Hora</th>
                    <th>Día de la Semana</th>
                    <th>Tipo de Entrega</th>
                    <th>Dirección</th>
                    <th>Metodo de Pago</th> <!-- Nueva columna para el tipo de entrega -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="detalle : ${detallesPedidos}">
                    <td>
                        <span th:text="${detalle.carritoItem.menu.nombreDePlato}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.carritoItem.menu.descripcion}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.carritoItem.cantidad}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.carritoItem.menu.precio}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.carritoItem.subtotal}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.fechaHora}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.diaSemana}"></span>
                    </td>
                    <td>
                        <span th:text="${detalle.tipoEntrega}"></span> <!-- Mostrar el tipo de entrega aquí -->
                    </td>
                    <td>
                        <span th:text="${detalle.direccion}"></span> <!-- Mostrar el tipo de entrega aquí -->
                    </td>
                    <td>
                        <span th:text="${detalle.metodoDePago}"></span> <!-- Mostrar el tipo de entrega aquí -->
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Volver al menú -->
        <a href="/carrito/lista" class="btn btn-secondary">Volver al carrito de compras</a>

    </div>

    <!-- Agregar Bootstrap JS desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
