<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Restaurante</title>
    <link rel="stylesheet" href="/css/inicioSession.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul class="menu-izquierda">
                <li><a href="/perfil"><i class="fas fa-user"></i> Mi Perfil</a></li>
                <li><a href="/restaurante"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="#seccion-menu"><i class="fas fa-utensils"></i> Menú</a></li>
                <li><a href="/reservas/formReservas"><i class="fas fa-calendar-check"></i> Reservas</a></li>
                <li><a href="/carrito/lista"><i class="fas fa-shopping-cart"></i> Carro de Compras </a></li>
                <li><a href="/carrito/listaDetallePedido"><i class="fas fa-user"></i>Historial de compras</a></li>
            </ul>

            <ul class="menu-derecha">
                <div id="perfil_bienvenida">
                    <p th:text="'Bienvenido, ' + ${username}"></p>
                </div>
                <li>
                    <a href="/carrito/detallePedido">
                        <img src="/images/LOGO.jpg" alt="imagen-logo" class="logo">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="carrusel">
            <div class="imagen-carrusel active">
                <img src="/images/encabezado1.jpg" alt="Imagen 1" />
            </div>
            <div class="imagen-carrusel">
                <img src="/images/encabezado2.jpg" alt="Imagen 2" />
            </div>
            <div class="imagen-carrusel">
                <img src="/images/encabezado3.jpg" alt="Imagen 3" />
            </div>
        </div>

        <h1 class="titulo"> Tecno Restaurant</h1>
    </header>

    <main>

        <!-- Bienvenida -->
        <section class="bienvenida">
            <h2>¡Bienvenidos a TecnoRestaurant!</h2>
            <p>Disfruta de una experiencia culinaria única con nuestros deliciosos platos.</p>
            <div class="imagenes-platos">
                <img src="images/plato1.jpg" alt="Plato 1" />
                <img src="images/plato2.jpg" alt="Plato 2" />
                <img src="images/plato3.jpg" alt="Plato 3" />
            </div>
        </section>

        <div id="mensaje" th:if="${mensaje}" class="alert alert-success">
            <p th:text="${mensaje}"></p>
        </div>

        <!-- Menú -->
        <section id="menu">
            <h1>Menú</h1>

            <!-- Botones de selección de categorías -->
            <div id="seccion-menu" class="categorias-menu">
                <a href="#entrada" class="btn-categoria">ENTRADA <i class='bx bx-bowl-hot'></i> </i></a>
                <a href="#plato-principal" class="btn-categoria">PLATO PRINCIPAL <i class='bx bx-bowl-rice'></i></a>
                <a href="#postre" class="btn-categoria">POSTRE <i class='bx bx-cake'></i></a>
                <a href="#bebidas" class="btn-categoria">BEBIDAS <i class="bi bi-cup-straw"></i></a>
            </div>

            <!-- Sección Entradas -->
            <div id="entrada" class="menu-category">
                <h2>Entradas</h2>
                <div class="menu-container">
                    <div th:each="menu : ${menus}" th:if="${menu.categoria == 'Entradas'}" class="menu-card">
                        <h3 th:text="${menu.nombreDePlato}"></h3>
                        <p>Precio: $<span th:text="${menu.precio}"></span></p>
                        <p th:text="${menu.descripcion}"></p>

                        <!-- Enlace envolviendo la imagen para redirigir al detalle -->
                        <a th:href="@{/detalle-plato/{menuId}(menuId=${menu.id})}">
                            <img th:src="@{${menu.imagenUrl}}" alt="Imagen de Plato" />
                        </a>


                        <div th:each="menu : ${menus}">
                            <div class="calificacion">
                                <!-- Estrella llena -->
                                <span th:if="${menu.calificacionPromedio >= 1}" class="bi bi-star-fill"></span>
                                <!-- Estrella media -->
                                <span th:if="${menu.calificacionPromedio >= 0.5 and menu.calificacionPromedio < 1}"
                                    class="bi bi-star-half"></span>
                                <!-- Estrella vacía -->
                                <span th:if="${menu.calificacionPromedio < 0.5}" class="bi bi-star"></span>

                                <!-- Repetir este bloque para 5 estrellas -->
                                <span th:if="${menu.calificacionPromedio >= 2}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 1.5 and menu.calificacionPromedio < 2}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 1.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 3}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 2.5 and menu.calificacionPromedio < 3}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 2.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 4}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 3.5 and menu.calificacionPromedio < 4}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 3.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 5}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 4.5 and menu.calificacionPromedio < 5}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 4.5}" class="bi bi-star"></span>
                            </div>
                        </div>

                        <br>
                    </div>
                </div>
            </div>

            <!-- Sección Platos Principales -->
            <div class="menu-category">
                <h2>Platos Principales</h2>
                <div id="plato-principal" class="menu-container">
                    <div th:each="menu : ${menus}" th:if="${menu.categoria == 'Platos principales'}" class="menu-card">
                        <h3 th:text="${menu.nombreDePlato}"></h3>
                        <p>Precio: $<span th:text="${menu.precio}"></span></p>
                        <p th:text="${menu.descripcion}"></p>

                        <!-- Enlace envolviendo la imagen para redirigir al detalle -->
                        <a th:href="@{/detalle-plato/{menuId}(menuId=${menu.id})}">
                            <img th:src="@{${menu.imagenUrl}}" alt="Imagen de Plato" />
                        </a>

                        <div th:each="menu : ${menus}">
                            <div class="calificacion">
                                <!-- Estrella llena -->
                                <span th:if="${menu.calificacionPromedio >= 1}" class="bi bi-star-fill"></span>
                                <!-- Estrella media -->
                                <span th:if="${menu.calificacionPromedio >= 0.5 and menu.calificacionPromedio < 1}"
                                    class="bi bi-star-half"></span>
                                <!-- Estrella vacía -->
                                <span th:if="${menu.calificacionPromedio < 0.5}" class="bi bi-star"></span>

                                <!-- Repetir este bloque para 5 estrellas -->
                                <span th:if="${menu.calificacionPromedio >= 2}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 1.5 and menu.calificacionPromedio < 2}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 1.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 3}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 2.5 and menu.calificacionPromedio < 3}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 2.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 4}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 3.5 and menu.calificacionPromedio < 4}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 3.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 5}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 4.5 and menu.calificacionPromedio < 5}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 4.5}" class="bi bi-star"></span>
                            </div>
                        </div>

                        <br>
                    </div>
                </div>
            </div>

            <!-- Sección Postres -->
            <div id="postre" class="menu-category">
                <h2>Postres</h2>
                <div class="menu-container">
                    <div th:each="menu : ${menus}" th:if="${menu.categoria == 'Postres'}" class="menu-card">
                        <h3 th:text="${menu.nombreDePlato}"></h3>
                        <p>Precio: $<span th:text="${menu.precio}"></span></p>
                        <p th:text="${menu.descripcion}"></p>

                        <!-- Enlace envolviendo la imagen para redirigir al detalle -->
                        <a th:href="@{/detalle-plato/{menuId}(menuId=${menu.id})}">
                            <img th:src="@{${menu.imagenUrl}}" alt="Imagen de Plato" />
                        </a>

                        <div th:each="menu : ${menus}">
                            <div class="calificacion">
                                <!-- Estrella llena -->
                                <span th:if="${menu.calificacionPromedio >= 1}" class="bi bi-star-fill"></span>
                                <!-- Estrella media -->
                                <span th:if="${menu.calificacionPromedio >= 0.5 and menu.calificacionPromedio < 1}"
                                    class="bi bi-star-half"></span>
                                <!-- Estrella vacía -->
                                <span th:if="${menu.calificacionPromedio < 0.5}" class="bi bi-star"></span>

                                <!-- Repetir este bloque para 5 estrellas -->
                                <span th:if="${menu.calificacionPromedio >= 2}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 1.5 and menu.calificacionPromedio < 2}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 1.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 3}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 2.5 and menu.calificacionPromedio < 3}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 2.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 4}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 3.5 and menu.calificacionPromedio < 4}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 3.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 5}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 4.5 and menu.calificacionPromedio < 5}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 4.5}" class="bi bi-star"></span>
                            </div>
                        </div>

                        <br>
                    </div>
                </div>
            </div>

            <!-- Sección Bebidas -->
            <div id="bebidas" class="menu-category">
                <h2>Bebidas</h2>
                <div class="menu-container">
                    <div th:each="menu : ${menus}" th:if="${menu.categoria == 'Bebidas'}" class="menu-card">
                        <h3 th:text="${menu.nombreDePlato}"></h3>
                        <p>Precio: $<span th:text="${menu.precio}"></span></p>
                        <p th:text="${menu.descripcion}"></p>

                        <!-- Enlace envolviendo la imagen para redirigir al detalle -->
                        <a th:href="@{/detalle-plato/{menuId}(menuId=${menu.id})}">
                            <img th:src="@{${menu.imagenUrl}}" alt="Imagen de Plato" />
                        </a>

                        <div th:each="menu : ${menus}">
                            <div class="calificacion">
                                <!-- Estrella llena -->
                                <span th:if="${menu.calificacionPromedio >= 1}" class="bi bi-star-fill"></span>
                                <!-- Estrella media -->
                                <span th:if="${menu.calificacionPromedio >= 0.5 and menu.calificacionPromedio < 1}"
                                    class="bi bi-star-half"></span>
                                <!-- Estrella vacía -->
                                <span th:if="${menu.calificacionPromedio < 0.5}" class="bi bi-star"></span>

                                <!-- Repetir este bloque para 5 estrellas -->
                                <span th:if="${menu.calificacionPromedio >= 2}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 1.5 and menu.calificacionPromedio < 2}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 1.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 3}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 2.5 and menu.calificacionPromedio < 3}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 2.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 4}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 3.5 and menu.calificacionPromedio < 4}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 3.5}" class="bi bi-star"></span>

                                <span th:if="${menu.calificacionPromedio >= 5}" class="bi bi-star-fill"></span>
                                <span th:if="${menu.calificacionPromedio >= 4.5 and menu.calificacionPromedio < 5}"
                                    class="bi bi-star-half"></span>
                                <span th:if="${menu.calificacionPromedio < 4.5}" class="bi bi-star"></span>
                            </div>
                        </div>

                        <br>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2025 TecnoRestaurant. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>