<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Menus</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/menu_lista.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <script>
        function toggleForm() {
            const formContainer = document.querySelector('.form-container');
            formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
        }

        // Función para mostrar el mensaje de éxito
        function showSuccessMessage() {
            const successMessage = document.querySelector('.success-message');
            successMessage.style.display = 'block';
            setTimeout(() => {
                successMessage.style.display = 'none';
            }, 5000); // Desaparece después de 5 segundos
        }
    </script>
</head>
<body>

<header>
    <h1>Panel de Administración - Menú del Restaurante</h1>
</header>

<div class="main-container">
    <div class="menu-container">
        <nav>
            <ul>
                <li><a href="/reservas/listaReserva"><i class="fas fa-calendar-check"></i> Lista de Reservas</a></li>
                <li><a href="/listaPedidos"><i class="fas fa-utensils"></i> Lista de Pedidos</a></li>
                <li><a href="/usuarios"><i class="fas fa-users"></i> Lista de Usuarios</a></li>
                <li><a href="/adminMenu/listar"><i class='bx bx-bowl-hot'></i> Registrar Menú</a></li>
                <li><a href="/opcionAdmin"><i class="bx bx-arrow-back"></i> Salir</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="container">
            <h1>Registro de Menú</h1>
            <button onclick="toggleForm()">Agregar Menú</button>

            <!-- Formulario para registrar un menú -->
            <div class="form-container" style="display:none;">
                <form action="/adminMenu" method="post" enctype="multipart/form-data" onsubmit="showSuccessMessage()">
                    <div>
                        <label for="nombreDePlato">Nombre del Plato</label>
                        <input class="input-menu"  type="text" id="nombreDePlato" name="nombreDePlato" required >
                    </div>

                    <div>
                        <label for="descripcion">Descripción</label>
                        <textarea class="input-menu" id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
                    </div>

                    <div>
                        <label for="precio">Precio</label>
                        <input class="input-menu" type="number" id="precio" name="precio" step="0.01" required>
                    </div>
                     
                    <br>
                    <div>
                        <label for="categoria">Categoría</label>
                        <select id="categoria" name="categoria" required>
                            <option value="Entradas">Entradas</option>
                            <option value="Platos principales">Platos principales</option>
                            <option value="Postres">Postres</option>
                            <option value="Bebidas">Bebidas</option>
                        </select>
                    </div>

                    <div>
                        <label for="imagen">Imagen del Plato</label>
                        <input class="input-menu" type="file" id="imagen" name="imagen" accept="image/*" required>
                    </div>

                    <button type="submit">Registrar Menú</button>
                </form>
            </div>

            <!-- Mensaje de éxito -->
            <div class="success-message">
                Registro de Menú Exitoso
            </div>

            <!-- Tabla del menú del restaurante -->
            <h1>Menú del Restaurante</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre de Plato</th>
                        <th>Categoria</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${menus}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.nombreDePlato}"></td>
                        <td th:text="${item.categoria}"></td>
                        <td th:text="${item.descripcion}"></td>
                        <td th:text="${item.precio}"></td>
                        <td th:text="${item.imagenUrl}"></td>
                        <td>
                            <form th:action="@{/adminMenu/eliminar/{id}(id=${item.id})}" method="get" style="display:inline;">
                                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este menú?')" style="background-color: red; color: white; border: none; padding: 5px 10px; cursor: pointer;">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
