<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Administración</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/opcionesAdmin.css">
</head>

<body>


    <header>
        <h1>Panel de Administración</h1>
    </header>

    <div class="content">
        <!-- Aquí puedes agregar el contenido principal del panel de administración -->
        <h2>Bienvenido al Panel de Administración</h2>
        <p>Aquí podrás gestionar todas las funcionalidades del sistema.</p>
    </div>
    </div>

    <div class="menu-container">
        <a href="/usuarios" class="menu-item">
            <i class="fas fa-home menu-icon"></i>
            <div class="menu-text">usuarios</div>
        </a>
        <a href="/reservas/listaReserva" class="menu-item">
            <i class="fas fa-calendar-check menu-icon"></i>

            <div class="menu-text">reservas</div>
        </a>
        <a href="/listaPedidos" class="menu-item">

            <i class="fas fa-concierge-bell menu-icon"></i>
            

            <div class="menu-text">pedidos</div>
        </a>
        <a href="/adminMenu/listar" class="menu-item">
            <i class="fas fa-utensils menu-icon"></i>

            <div class="menu-text">Menus</div>
        </a>

        <a href="/prediccionReservas/formulario" class="menu-item">
            <i class="fas fa-brain menu-icon"></i>

            <div class="menu-text">MODELO PREDICTIVO</div>
        </a>

        <a href="/restaurante" class="menu-item">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <div class="menu-text">Salir</div>
        </a>
    </div>




</body>

</html>