<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Predicción</title>
    <link rel="stylesheet" href="/css/prediccionReservas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <ul class="menu-izquierda">
                <li><a href="/listaPedidos"><i class="fas fa-utensils"></i>PEDIDOS</a></li>
                <li><a href="/usuarios"><i class="fas fa-users"></i>USUARIOS</a></li>
                <li><a href="/adminMenu/listar"><i class='bx bx-bowl-hot'></i> MENUS</a></li>
                <li><a href="/reservas/listaReserva"><i class='fas fa-calendar-check'></i> RESERVAS</a></li>
                <li><a href="/opcionAdmin"><i class='bx bx-arrow-back'></i> SALIR</a></li>
            </ul>
        </nav>
    </header>

    <br><br><br>
    <h1>Resultado de la Predicción del Estado de Reserva</h1>

    <!-- Mostrar error si lo hay -->
    <div th:if="${error != null}">
        <p style="color: red;">Error: <span th:text="${error}"></span></p>
    </div>

    <!-- Mostrar el resultado de la predicción -->
    <div th:if="${resultado != null}">
        <p>La predicción del estado de la reserva es:
            <strong><span th:text="${resultado}"></span></strong>
        </p>
    </div>

    <!-- Mostrar probabilidad -->
    <div th:if="${probabilidad != null}">
        <p>Probabilidad de que se cancele:
            <strong><span th:text="${probabilidad + '%'}"></span></strong>
        </p>
    </div>

    <!-- Tabla de atributos usados -->
    <h2>Atributos utilizados para la predicción</h2>
    <table>
        <thead>
            <tr>
                <th>Atributo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Número de Personas</td>
                <td th:text="${reservaDTO.numeroPersonas}">N/A</td>
            </tr>
            <tr>
                <td>Método de Pago</td>
                <td th:text="${reservaDTO.metodoDePago}">N/A</td>
            </tr>
            <tr>
                <td>¿Cliente Recurrente?</td>
                <td th:text="${reservaDTO.clienteRecurrente != null && reservaDTO.clienteRecurrente ? 'Sí' : 'No'}">N/A
                </td>
            </tr>
            <tr>
                <td>Anticipación (días)</td>
                <td th:text="${reservaDTO.anticipacion}">N/A</td>
            </tr>
            <tr>
                <td>Día de la Semana</td>
                <td th:text="${reservaDTO.diaSemana}">N/A</td>
            </tr>
        </tbody>


    </table>

    <a th:href="@{/prediccionReservas/formulario}">Volver al formulario</a>
</body>

</html>